*{
font-size: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Didact Gothic';
}

#main{
    background-image: url(hotel_feture_1.jpg);
    height: 750px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 750px;
}

#header{
    text-align: center;
    position: relative;
    height: 200px;
}
#container{
    height: 120px;
}
#menu{
height: 80px;
padding: 8px;
}
#header h1{
 font-size: 50px;
    padding: 10px;
    font-family: cursive;
    color:antiquewhite;
    }
#menu a{
display: block;
    text-decoration: none;
    font-weight: bold;
	}
#profile{
    padding-right: 30px;
    float: right;
}
li{
    float: left;
    font-weight: 600;
    color: white;
    padding: 3px 0px 0px 10px;
    font-size: 25px;
        margin: 10px;
        cursor:grab;
        transition-property: all;
        transition-duration: 1.1s;
        font-family: cursive;
    }
    li:hover{
        font-family:cursive;
        font-size: 25px;
        transform: rotate(-360deg);
    }
#mid{
    height: 460px;
    width: 100%;
    float: left;
    text-align: center;
    color: white;
}

.p1{
    font-size: 50px;
    padding: 10px;
}
.p2{
    font-size: 50px;
    padding: 20px;
    margin-top: 60px;
}

button{
     text-align: center;
     height: 50px;
     width: 140px;
    background: orange;
    color: white;
    font-weight: bold;
    border: 0;
    box-shadow: 5px 5px black;
    padding: 10px;
        margin-top: 20px;
        cursor:grab;
        transition-duration: 1.1s;
     border-radius: 20px;
    }
    button:hover{
background: grey;
        font-family:monospace;
    }
.b{
    width: 160px;
}
#sub{
  height: 350px;
    text-align: center;
    background-color: bisque;
    color: black;
    font-family:monospace;
}
#sub h1{
    font-size: 40px;
    padding-top:20px;
    letter-spacing: 2px;
    color: black;
    font-weight: bold;
}
#sub p{
font-size: 30px;
    margin-top: 20px;
}

input{
    border: 5px solid azure;
    padding: 8px;
    width: 60%;
    margin-top: 20px;
    background: rgba(255,255,255,0.5);
    text-align: center;
    font-size: 25px;
}
#tabs{
    height: 2800px;
    background: azure;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 5px 15px gray;
}

#fac{
    background: white;
}
#fac h1{
    height: 100px;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: cursive;
}
#pool{
    height: 700px;
    padding-left: 40px;

}

#pool_1{
    align-items: center;
    height: 400px;
    width: 100%;
    margin-top: 20px;
background: url(swim.jpg);
    background-repeat: no-repeat;
    background-size: 60% 400px;
}
#gym{
    height: 700px;
    width: 100%;
    padding-left: 40px;
    margin-top: 2px;
}

#gym_1{
    max-height: 400px;
    height: 100%;
    width: 100%;
    margin-top: 10px;
background: url(gym.jpg);
    background-repeat: no-repeat;
    background-size: 60% 400px;
}
#restaurant{
    height: 700px;
padding-left: 40px;}

#rest_1{
    height: 400px;
    width: 100%;
    float: left;
    margin-top: 10px;
background: url(rest.jpg);
    background-repeat: no-repeat;
    background-size: 60% 400px;
}
#spa{
    height: 700px;
padding-left: 40px;}

#spa_1{
    height: 400px;
    width: 100%;
    margin-top: 10px;
background: url(spa.jpg);
    background-repeat: no-repeat;
    background-size: 60% 400px;
}
#det p{
    height: 200px;
    padding-top: 40px;
    font-family: monospace;
    text-align: justify-all;
    font-size: 24px;
}
#det_1 p{
    height: 200px;
    padding-top: 40px;
    font-family: monospace;
    text-align: justify-all;
    font-size: 24px;
}

h2{
    font-size: 28px;
    letter-spacing: 3px;
}
